spring:
  security:
    oauth2:
      resourceserver:
        jwt:
#          issuer-uri: http://keycloak:8080/realms/micro-prac-inhouse
          issuer-uri: http://localhost:9090/realms/micro-prac-inhouse
