spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/micro-prac-inhouse
          jwk-set-uri: http://keycloak:8080/realms/micro-prac-inhouse/protocol/openid-connect/certs
